/*@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai');*/
/* gaze-controls.css (controls.css kay chris) */

body {
	height: 100%;
	width: 100%;
}

@font-face {
	font-family: 'League Spartan';
	font-style: normal;
	font-weight: 700;
	src: url(‘chrome-extension://__MSG_@@aehgfccjpjdpamppmljencaaalblakng__/css/LeagueSpartan-Bold.ttf’);
}


.calibration_div {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	position: fixed;
	margin: auto;
	background-color: white!important;
	z-index: 9999;
}

.calibration_btn {
	border-radius: 50%;
	background-color: red;
	border: 1px solid black;
	position: fixed;
	z-index: 9999;
}

/*.big_divs {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	position: fixed;
	margin: auto;
}*/

#calibration_notes {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	margin: auto;
	height: 25%;
	width: 45%;
	/*background-color: grey!important;*/
	padding: 10px;
	z-index: 9999;
}

#help_notes {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	margin: auto;
	height: 75%;
	width: 45%;
	padding: 10px;
}

/*** GAZE UI BUTTONS ***/

/* ARROWS */
/* reference: https://css-tricks.com/snippets/css/css-triangle/ */

#arrow_up {
	top: 0;
	left: 0;
	right: 0;
	margin-top: 5%;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 50px solid #ff8362;
}

#arrow_down {
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 5.5%;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 50px solid #ff8362;
}

#arrow_left {
	top: 0;
	left: 0;
	bottom: 0;
	margin-left: 3%;
	border-right: 50px solid #ff8362;
	border-top: 50px solid transparent; 
	border-bottom: 50px solid transparent;
}

#arrow_right {
	top: 0;
	bottom: 0;
	right: 0;
	margin-right: 3%;
	border-left: 50px solid #ff8362;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
}

/* ARROWS */

.arrows {
	width:0;   
	height:0;
	margin: auto;
	position:fixed;
	z-index: 2000;
}

/* BUTTONS */

#click_btn {
	top: 0;
	left: 0;
	right: 0;
	margin-top: 3%;
}

#focus_btn {
	top: 0;
	bottom: 0;
	right: 0;
	margin-right: 3%;
}

#press_btn {
	top: 0;
	left: 0;
	bottom: 0;
	margin-left: 3%;
}

.gaze_btns {
	border-radius: 40px;
	background-color: #ff8362;
	width: 180px;
	height: 50px;
	font: 30px 'League Spartan';
	text-align: center;
	padding-top: 22px;
	
	margin: auto;
	position:fixed;
	z-index: 2000;
	color: white!important;
}


/*** END ***/





/*** SELECTION OF DOM ELEMENTS ***/

/*.selected {
	background-color: yellow!important;
}*/

.label {
	width: 20px;
	height: 17px;
	position:absolute;
	padding-top: 2px;
	border-radius: 50%;
	z-index: 1000;
	text-align: center;
	
	background-color: #FF7362!important;
	color: white!important;
	font: 'League Spartan';
}


/* HIGHLIGHT ELEMENTS FOR CLICK, PRESS, FOCUS, & OPEN */

.selectLinks {
	color: #636153!important;
	background: #FFF686!important;
} 

.selectBtns {
	color: #636153!important;
	background: #FFF686!important;
} 

.selectInputs {
	color: #636153!important;
	background: #FFF686!important;
}

/*** END ***/




/*** VOICE **

#voice_input {
	top: 0;
	right: 0;
	bottom: 0;
	width: 200px;
	height: 30px;
	margin-top: 20%;
	margin-right: 15%;
	position:fixed;
	z-index: 9000;
}

.voice_btn {
	top: 0;
	right: 0;
	bottom: 0;
	width: 30px;
	height: 40px;
	margin-top: 20%;
	position: fixed;
	z-index: 9000;
}

#voice_start_btn {
	background-color: green;
	margin-right: 12%;
}

#voice_stop_btn {
	background-color: red;
	margin-right: 9%;
}

#voice_help_btn {
	background-color: blue;
	margin-right: 6%;
	color: white!important;
}

#voice_help_span {
	top: 0;
	right: 0;
	bottom: 0;
	height: 200px;
	margin-top: 25%;
	margin-right: 8%;
	position:fixed;
	z-index: 9000;
	background-color:white!important;
	padding: 10px;
}

/*** END ***/